﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">مدیریت سیستم</strong>
                             </span>
                                <span class="text-muted text-xs block">حسین علیزاده مقدم <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="mailbox.inbox">تغییر گذرواژه</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">خروج</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    مطب+
                </div>
            </li>
            <li ng-class="{active: $state.includes('geoData')}">
                <a>
                    <i class="fa fa-th-large"></i> 
                    <span class="nav-label">اطلاعات جغرافیایی</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('geoData')}">
                    <li ui-sref-active="active"><a ui-sref="admin.countries">کشور ها</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.provinces">استان ها</a></li>
                    <li ui-sref-active="active"><a ui-sref="admin.cities">شهر ها</a></li>
                </ul>
            </li>            
        </ul>
    </div>
</nav>