﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>شهر ها</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">سامانه مدیریت اطلاعات پزشکی</a>
            </li>
            <li>
                <a>مدیریت</a>
            </li>
            <li class="active">
                <strong>شهر ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>