﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>کشور ها</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">سامانه مدیریت اطلاعات پزشکی</a>
            </li>
            <li>
                <a>مدیریت</a>
            </li>
            <li class="active">
                <strong>کشور ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <a class="btn btn-primary" ng-click="openNewCountryModal()">اضافه کردن</a>
</div>
<div class="ibox">
    <div class="ibox-content">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in allCountries">
                    <td>{{$index+1}}</td>
                    <td>{{c.Name}}</td>
                    <td>
                        <button class="btn btn-sm btn-gray" ng-click="openUpdateCountryModal(c.ID)">ویرایش</button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteCountry(c.ID)">حذف</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>


<script type="text/ng-template" id="openNewCountryTemplate">
    <div class="">
        <div class="ibox-title">
            <h5>کشور جدید</h5>            
        </div>
        <div class="ibox-content">
            <form name="newCountryForm">
                <div class="form-group">
                    <label>نام کشور</label>
                    <input placeholder="نام کشور" class="form-control" type="text" ng-model="data.Name" regex-input="^[آ-ی ]{2,30}$">                    
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-disabled="newCountryForm.$invalid" ng-click="insertNewCountry()">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</script>
