﻿<!DOCTYPE html>
<html ng-app="PatientCare">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="/resources/plugins/bootstrap-rtl/bootstrap.rtl.min.css" rel="stylesheet" />

    <!-- Font awesome -->
    <link href="/resources/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!--Persian Fonts-->
    <link href="/resources/plugins/persian-fonts/persian-fonts.css" rel="stylesheet" />

    <!-- Main Inspinia CSS files -->
    <link href="/resources/css/animate.css" rel="stylesheet" />
    <link href="/resources/css/style.css" rel="stylesheet" />

    <!--Toastr-->
    <link href="/resources/plugins/toastr/toastr.min.css" rel="stylesheet" />

</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="mainCtrl" class="{{$state.current.data.specialClass}} rtls skin-2" landing-scrollspy id="page-top">

    <!-- Main view  -->
    <div ui-view></div>

    <!-- jQuery and Bootstrap -->
    <script src="/resources/plugins/jquery/jquery-2.1.1.min.js"></script>
    <script src="/resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="resources/plugins/bootstrap-rtl/bootstrap.rtl.min.js"></script>

    <!-- MetsiMenu -->
    <script src="/resources/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SlimScroll -->
    <script src="/resources/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
    <!-- Peace JS -->
    <script src="/resources/plugins/pace/pace.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>

    <!-- Main Angular scripts-->
    <script src="/resources/plugins/angular/angular.min.js"></script>
    <script src="/resources/plugins/angular/angular-sanitize.min.js"></script>
    <script src="/resources/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="/resources/plugins/ui-router/angular-ui-router.min.js"></script>
    <script src="/resources/plugins/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="/resources/plugins/angular-idle/angular-idle.js"></script>
    
    <!--Toastr-->
    <script src="resources/plugins/toastr/toastr.min.js"></script>

    <!--
     You need to include this script on any page that has a Google Map.
     When using Google Maps on your own site you MUST signup for your own API key at:
     https://developers.google.com/maps/documentation/javascript/tutorial#api_key
     After your sign up replace the key in the URL below..
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
    -->

    <!-- Anglar App Script -->
    <script src="/js/app.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/directives.js"></script>
    <script src="js/customDirectives.js"></script>
    <!--Controllers-->
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/adminCountriesCtrl.js"></script>
    <script src="js/controllers/adminProvincesCtrl.js"></script>
    <script src="js/controllers/adminCitiesCtrl.js"></script>
    <toaster-container toaster-options="{'time-out': 5000, 'position-class': 'toast-top-left' }"></toaster-container>
</body>
</html>
